<nav class="bg-white/90 backdrop-blur-md shadow-md w-full z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Lado esquerdo: botão hambúrguer + logo -->
      <div class="flex items-center space-x-3">
        <!-- Botão hamburguer -->
        <button mat-icon-button class="md:hidden" (click)="toggleMobileMenu()">
          <mat-icon>{{ isMobileMenuOpen ? 'close' : 'menu' }}</mat-icon>
        </button>

        <!-- Logo -->
        <a routerLink="/">
          <span class="text-2xl font-bold text-blue-600">VikoEvents</span>
        </a>
      </div>

      <div class="flex items-center space-x-2">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/private/profile">Perfil</button>
          <button mat-menu-item (click)="logout()">Sair</button>
        </mat-menu>
      </div>
    </div>
  </div>

  <!-- Menu Mobile
  <div *ngIf="isMobileMenuOpen" class="md:hidden bg-white shadow-md">
    <a routerLink="/home" class="block px-4 py-2 hover:bg-gray-100">Home</a>
    <a routerLink="/private/dashboard" class="block px-4 py-2 hover:bg-gray-100">Dashboard</a>
    <a routerLink="/about" class="block px-4 py-2 hover:bg-gray-100">Sobre</a>
    <a routerLink="/private/profile" class="block px-4 py-2 hover:bg-gray-100">Perfil</a>
    <button (click)="logout()" class="block w-full text-left px-4 py-2 hover:bg-gray-100">
      Sair
    </button>
  </div> -->
</nav>
