<!-- Status bar -->

@switch(event.eventStatus){
    @case (1) {<div class="text-center font-semibold text-white py-2 rounded-lg bg-green-700 mx-10"> Registrations are open </div>}
    @case (2) {<div class="text-center font-semibold text-white py-2 rounded-lg bg-red-700 mx-10"> Registrations are closed </div>}
    @case (3) {<div class="text-center font-semibold text-white py-2 rounded-lg bg-red-700 mx-10"> This event is finished </div>}
}

<!-- Main content -->
<main class="flex flex-col lg:flex-row justify-between rounded-lg items-start gap-8 py-8 mx-10 bg-white flex-grow">

    <!-- Image -->
    <div class="w-full lg:w-1/4 flex justify-center">
        @if (event.image) {
        <img [src]="event.image" alt="Event Poster" class="rounded-lg shadow-md w-full max-w-[250px]" />
        } @else {
        <img src="https://placehold.co/250x300/cccccc/000000?text=Event+Poster" alt="Event Poster"
            class="rounded-lg shadow-md w-full max-w-[250px]" />
        }
    </div>

    <!-- Event info -->
    <div class="flex-1 space-y-3">
        <h2 class="text-3xl font-bold">{{ event.title }}</h2>

        <div class="flex flex-wrap text-lg gap-10">
            <div>
                <p class="font-semibold text-gray-700">Teacher</p>
                <div class="flex flex-wrap gap-2">
                    <p>{{ event.teacher }}</p>
                    <img [src]="event.teacherPhoto" class="w-7 h-7 rounded-full object-cover border border-gray-300">
                </div>
            </div>
            <div>
                <p class="font-semibold text-gray-700">Category</p>
                <p> {{category?.name}} {{category?.emoji}} </p>
            </div>
        </div>

        <div class="flex flex-wrap gap-10 text-sm text-gray-700">
            <div>
                <p class="font-semibold">Starts at</p>
                <p>{{ event.startDate }}</p>
            </div>
            <div>
                <p class="font-semibold">Finishes at</p>
                <p>{{ event.endDate }}</p>
            </div>
        </div>

        <div class="flex flex-wrap gap-10 text-md text-gray-700">
            <div>
                <p class="font-medium">Location</p>
                <p>{{ event.location }}</p>
            </div>
            <div>
                <p class="font-medium">City</p>
                <p>{{ event.city }}</p>
            </div>
        </div>

        <h3 class="text-lg font-semibold text-gray-800 mt-5">Description</h3>
        <p class="text-gray-700 leading-relaxed text-justify">
            {{ event.description }}
        </p>
    </div>

    <!-- Registration info -->
    <div class="w-full lg:w-1/4 text-center border-t lg:border-t-0 lg:border-l border-gray-200 pt-4 lg:pt-0 lg:pl-6">
        <h4 class="text-lg font-semibold text-gray-800">Registration Deadline</h4>
        <p class="text-gray-700 mb-3">{{ event.registrationDeadline }}</p>

        <!-- <ng-content select="[registration-button]"></ng-content> -->

        @if (roleSaved == "Student") {
        @if (!isRegistered && showRegisterButton && eventStatus == 1) {
        <button registration-button [hidden]="isHidden"
            class="bg-blue-500 hover:bg-blue-600 text-white font-medium px-6 py-2 rounded-md shadow-sm transition"
            (click)="registerToEvent()">
            Sign up to this Event
        </button>
        }

        @if (isRegistered && eventStatus != 3) {
        <p registration-button class="text-green-600 mt-3">
            You are already registered for this event!
        </p>
        }
        }

    </div>
</main>

@if (roleSaved == "Teacher" || roleSaved == "Admin") {
    <div class="mt-3 w-1/2 mx-10">
        <app-registrations [eventGuid]="eventGuid"></app-registrations>
    </div>
}