services:
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite:latest
    container_name: azurite
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    volumes:
      - ./azurite:/data
    command: >
      azurite
        --silent
        --location /data
        --debug /data/debug.log
        --blobPort 10000
        --queuePort 10001
        --tablePort 10002